.vs/
src/bin/debug
src/bin/release/net471/*.dll
src/bin/release/net471/*.pdb
src/bin/release/net471/*.xml
src/obj/
# Canon DPP4 managed DLLs - not redistributable - copy them manually to lib folder from dpp4 installation directory
src/lib/*.dll