# dpp4cli.config - Configurazione di dpp4cli
# Questo file deve trovarsi nella stessa cartella di dpp4cli.exe
#
# Percorso di installazione di Canon Digital Photo Professional 4.
# Modifica questo valore se DPP4 è installato in una cartella non standard.

dpp4dir=C:\Program Files\Canon\Digital Photo Professional 4
